# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!.github

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
home-assistant_v2.db
ip_bans.yaml
secrets.yaml
known_devices.yaml
commit
